/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipografía general */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #f5f5f5;
}
